* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
     background-image: url('IMG_2946.JPG');  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #470f0f;
    font-size: 100px;
  }
  
  .products {
     background-image: url('IMG_2946.JPG');  
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
      background-image: url('IMG_2946.JPG');  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  .logo{
    width: 80;
    height: 70;
  }
  .background-container {
    position: relative; /* Positioning context for absolutely positioned children */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
  }
  
  .background-image {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the container */
  }
  
  .button-container {
    position: absolute; /* Position absolutely */
    top: 50%; /* Align at the center vertically */
    left: 50%; /* Align at the center horizontally */
    transform: translate(-50%, -50%); /* Center the container */
    display: flex; /* Use flexbox for button alignment */
  }
  
  .button {
    margin: 0 10px; /* Add margin between buttons */
    padding: 10px 20px; /* Add padding to buttons */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  